@tailwind base;
@tailwind components;

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply h-full flex bg-gradient-to-r from-slate-300 to-teal-100 p-6;
  }
}

@layer components {
  .homepage-content-wrapper {
    @apply h-full flex-grow bg-slate-200 bg-opacity-50 rounded-xl shadow-xl px-12 py-6;
  }
}
